<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotifyArtistsViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9DB879E1D06022A00906DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9DB87B51D06022B00906DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9DB87C01D06022B00906DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
